@model CadastroDeUsinas.Models.Usina

@{
    ViewData["Title"] = "Edit";
}

<div class="border-bottom">
    <h6>Editar Usina</h6>
</div>
<br />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UsinaId" />
            <div class="form-group form-check">
            <label class="form-check-label">
                <input class="form-check-input" asp-for="IsAtivo" checked/> @Html.DisplayNameFor(model => model.IsAtivo)
            </label>
            </div>
            <div class="form-group">
                <label asp-for="UcDaUsina" class="control-label"></label>
                <input asp-for="UcDaUsina" class="form-control" />
                <span asp-validation-for="UcDaUsina" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NomeFornecedor" class="control-label"></label>
                <select name="NomeFornecedor" class="nav-link text-dark"> 
                     <option value="SOLARIAN">SOLARIAN</option>
                     <option value="FUTURA">FUTURA</option>
                     <option value="CENTRAL GERADORA FAZENDA MODELO">CENTRAL GERADORA FAZENDA MODELO</option>
                     <option value="NOVA MUNDO">NOVA MUNDO</option>
                     <option value="SOLARE">SOLARE</option>
                     <option value="UNISOL">UNISOL</option>
                </select>
                <span asp-validation-for="NomeFornecedor" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-success" />
                &nbsp;
                <a class="btn btn-danger" asp-action="Index">Fechar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
