@model Usina
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    <form action="/usina/create" method="post">
        <input type="text" name="UcDaUsina" /><br />
        <input type="text" name="IsAtivo" /><br />
        <input type="text" name="NomeFornecedor" /><br />
        <button>Salvar</button>
    </form>
</body>
</html>